/*--------------------------------------------------*/
/*导航栏内部菜单div*/
.navi{
    height: auto;
    padding-top: 19px;
    display: block;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0);
}

/*导航栏div*/
.nav{
    float: left;
    background-color: rgb(255, 255, 255);
    min-height: 97.5vh;
    min-width: 220px;
    width: 220px;
    margin: 10px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.closeBtnBox{
    display: none;
    position: relative;
    left: 90%;
    top: 10px;
}

.closeBtn{
    background: url("../../img/close.svg") no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

#nav.visable{
    display: block;
    animation: slide-in 0.5s ease-out;
}

#main.disable{
    display: none;
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

/*用户信息*/
.userinfo{
    height: auto;
    width: auto;
    margin-left: 10px;
}

.username {
    font-weight: bold;
    font-size: 20px;
}

.userinfo-des{
    float:right;
    margin-right: 20px;
}

#userinfoDes.change{
    margin-right: 75%;
}

.profilephoto{
    background: url("../../img/profilephoto.svg") no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    height: 30px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:8px;
}

.slogan {
    background: url("../../img/slogan.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}
/*--------------------------------------------------*/
/*内容模块div*/
.main{
    float: right;
    background-color: white;
    min-height: 97.5vh;
    width: 80%;
    margin: 10px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translate(-5%, 0%);
}

/*内容模块内框*/
.main-container{
    min-height: 83vh;
    width: 92%;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
}

/*提示信息*/
.tips{
    color: gray;
    font-size: 13px;
}

/*用户信息管理*/
.infotitlebox{
    width: 100%;
    min-height: 30px;
    height: auto;
}

.infobox{
    height: auto;
    width: 50%;
}

.sitename{
    background: url("../../img/sitename.svg") no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    top:8px;
}

.time{
    background: url("../../img/time.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}

.comment{
    background: url("../../img/comment.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}

.aisummary{
    background: url("../../img/AI.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}

.pic{
    max-width: 120px;
    max-height: 120px;
    border-radius: 5px;
}
.piccontainer{
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
}
.articleinfo{
    margin-left: 10px;
    cursor: pointer;
}
.articletitle{
    font-weight: bold;
    font-size: 20px;
}
.articletime{
    position: relative;
    bottom: -8px;
}
.articleshortcontainer{
    width: 70%;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.articleshort{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articlelistbox{
    height: 140px;
    width: auto;
    border-radius: 10px;
}
.articlelistbox:hover{
    background-color: rgb(228, 226, 226);
}
.articlelistboxinfo{
    display: flex;
    justify-content: space-between;
    height: 95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.deletebtn {
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
}
.addmorebtnbox{
    margin-top: 5px;
    margin-left: 20%;
}
.addmorebtn{
    width: 50px;
}

.articlebox{
    width: 100%;
    min-height: 500px;
}
.articletitleicon{
    background: url("../../img/articletitle.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}
.articleicon{
    background: url("../../img/article.svg") no-repeat;
    background-size: 20px 25px;
    background-position: center center;
    height: 20px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}
.articlecategory{
    background: url("../../img/category.svg") no-repeat;
    background-size: 20px 25px;
    background-position: center center;
    height: 20px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
}
.commentbox{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    border-radius: 10px;
}
.commentbox:hover{
    background-color: rgb(228, 226, 226);
}
.commentboxinfo{
    height: 95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.deletecomment{
    display: flex;
    margin-right: 15px;
    margin-top: 35px;
}
.commentinfo{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.categoryhr{
    width: 100%;
    float: left;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.url{
    background: url("../../img/url.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:5px;
}
.findmebox{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
}
.platformname{
    background: url("../../img/platformname.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}
.previewiconbox{
    height: 35px;
    width: 35px;
    margin-top: 2px;
    margin-right: 5px;
}
.previewicon{
    height:30px;
    width:30px;
    transition: transform 0.3s;
}
.previewicon:hover{
    transform: scale(1.1);
}
.friendlinkbox{
    height: 252px;
}
.friendlinkcard{
    background-color: rgb(251, 253, 253);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height:227px;
    width: 140px;
    border-radius: 10px;
    border: 1px solid rgb(216, 212, 212);
    box-shadow: 1px 1px 3px rgba(92, 91, 91, 0.2);
}
.friendlinkinfo{
    height:180px;
    cursor: pointer;
}
.friendlinkbtn{
    display: flex;
    height: 30px;
    margin-top: 5px;
}
.friendlinkimg{
    margin-top:5px;
    margin-left: 50%;
    transform: translate(-75%, 0%);
}
.friendlinknamebox{
    max-width: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
}
.friendlinkname{
    font-weight: bold;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.friendlinkdescriptionbox{
    height: 40px;
    max-width: 140px;
    margin-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.friendlinkdescription{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*--------------------------------------------------*/
/*横向导航栏*/
.horizontalnav{
    display: none;
    width: 98%;
    min-height:40px;
    height: auto;
    margin: 11px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.naviconbox{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 30px;
}

.navicon{
    background: url("../../img/horizontalnav.svg") no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

.navlogo{
    height:40px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 7%);
}

.navlogotext{
    font-weight: bold;
    font-size: 20px;
}

/*container*/
.container{
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------*/
/*自适应样式*/
@media (max-width: 1650px) {
    .main{
        width: 77%;
    }
    .infobox{
        width: 60%;
    }
    .addmorebtnbox{
        margin-left: 30%;
    }
}
@media (max-width: 1500px) {
    .main{
        width: 75%;
    }
}
@media (max-width: 1400px) {
    .main{
        width: 74%;
    }
    .infobox{
        width: 65%;
    }
}
@media (max-width: 1300px) {
    .main{
        width: 73%;
    }
}
@media (max-width: 1200px) {
    .main{
        width: 72%;
    }
    .infobox{
        width: 75%;
    }
}
@media (max-width: 1100px) {
    .main{
        width: 70%;
    }
}
@media (max-width: 1000px) {
    .main{
        width: 69%;
    }
}
@media (max-width: 950px) {
    .main{
        width: 68%;
    }
    .infobox{
        width: 80%;
    }
}
@media (max-width: 900px) {
    .main{
        width: 97%;
        transform: translate(0%, 0%);
    }
    .nav{
        display: none;
        width: 97%;
    }
    .horizontalnav{
        display: block;
    }
    .userinfo{
        margin-left: 4%;
    }
    .closeBtnBox{
        display: block;
    }
    .addmorebtnbox{
        margin-left: 35%;
    }
}
/*页面放大时，恢复userinfo内样式*/
@media (min-width: 900px) {
    #userinfoDes.change{
        margin-right: 20px;
    }
    .userinfo-des{
        float:right;
        margin-right: 20px;
    }
    #main.disable{
        display: block;
    }
}
@media (max-width: 850px) {
    .horizontalnav{
        width: 97.5%;
    }
    .nav{
        width: 96%;
    }
    #userinfoDes.change{
        margin-right: 72%;
    }
}
@media (max-width: 700px) {
    .horizontalnav{
        width: 97%;
    }
    #userinfoDes.change{
        margin-right: 70%;
    }
    .infobox{
        width: 80%;
    }
}
@media (max-width: 600px) {
    .main{
        width: 96%;
        transform: translate(0%, 0%);
    }
    .horizontalnav{
        width: 96%;
    }
    .nav{
        width: 95%;
    }
    #userinfoDes.change{
        margin-right: 60%;
    }
    .infobox{
        width: 100%;
    }
    .addmorebtnbox{
        margin-left: 40%;
    }
}
@media (max-width: 450px) {
    .main{
        width: 95%;
        transform: translate(0%, 0%);
    }
    .horizontalnav{
        width: 95%;
    }
    .nav{
        width: 94%;
    }
    #userinfoDes.change{
        margin-right: 47%;
    }
}
@media (max-width: 350px) {
    .main{
        width: 94%;
        transform: translate(0%, 0%);
    }
    .horizontalnav{
        width: 94%;
    }
    .nav{
        width: 92%;
    }
    #userinfoDes.change{
        margin-right: 37.5%;
    }
}
@media (max-width: 300px) {
    .main{
        width: 92%;
        transform: translate(0%, 0%);
    }
    .horizontalnav{
        width: 92%;
    }
    .nav{
        width: 90%;
    }
    #userinfoDes.change{
        margin-right: 30%;
    }
}