/*卡片框样式*/
.loginbox{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginbox-logo{
    position: relative;
    width: 100%;
    height: auto;
}

/*Title样式*/
.loginlogo{
    font-size: 17px;
    text-align: center;
}

.registelogo{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.loginlogo-sitename{
    font-weight: bold;
}

/*输入框icon样式*/
.userid{
    background: url("../../img/user.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

.userpwd{
    background: url("../../img/sq-password.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

.vertify{
    background: url("../../img/vertify.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

.email{
    background: url("../../img/email.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:3px;
}

/*登录框样式*/
.login-card{
    width : 300px;
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.inputbox{
    margin-top: 10px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.input-text{
    font-weight: bold;
    font-size: 15px;
}

/*自适应样式*/
@media (max-width: 740px) {
    .loginbox{
        width: 100%;
    }
}

@media (max-width: 740px) {
    .login-card{
        width : 97%;
        margin-left: 1%;
        margin-right: 2%;
    }
}