/*外部框架*/
.box{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
}
.headerbox{
    position: relative;
    min-height: 400px;
    height: 50vh;
    width: 100%;
}
.headerimg{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}
.headerimgstyle{
    height: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header{
    height: 100%;
    width: 100%;
}
.headerinfo{
    display: flex;
    border: 1px solid;
    border-color: #eee;
    background-color: rgba(255, 255, 255, 0.514); /* 设置背景颜色为白色半透明 */
    backdrop-filter: blur(2px);
    height: 60%;
    width: 55%;
    border-radius: 10px;
    position: absolute; /* 创建绝对定位的内容 */
    top: 50%; /* 从顶部偏移50%容器高度 */
    left: 50%; /* 从左侧偏移50%容器宽度 */
    transform: translate(-50%, -50%); /* 反向偏移50%内容宽高 */
    z-index: 1;
    transition: width 0.3s ease, height 0.3s ease;
}
.headerinfo:hover{
    height: 61%;
    width: 56%;;
}
.userprofile{
    margin-left: 40px;
}
.userprofileimgstyle{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.center {
    align-self: center; /* 子div垂直居中 */
}
.userinfo{
    width: 95%;
    align-self: center; /* 子div垂直居中 */
    margin-left: 30px;
}
.usernamebox{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
    display: flex;
    z-index: 2;
}
.usernameinfo{
    font-size: 40px;
    font-weight: bold;
    font-family: 'nyanya';
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
}
.userdescriptionbox{
    margin-top: 15px;
    z-index: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.userdescription{
    font-family: 'nyanya';
    font-weight: bold;
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.search{
    position: absolute;
    right: 5%;
    margin-top: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}
.search:hover{
    transform: scale(1.1);
}
.feed{
    position: absolute;
    right: 8%;
    margin-top: 4px;
    transition: transform 0.3s;
    cursor: pointer;
}
.feed:hover{
    transform: scale(1.1);
}
.findmebox{
    max-height:40%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.findme{
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
    transition: transform 0.3s;
}
.findme:hover{
    transform: scale(1.1);
}
.findmeiconbox{
    height:33px;
    width: 33px;
    margin-right: 10px;
}
.findmeicon{
    height: 30px;
    width: 30px;
}

/*导航栏*/
.navigation1{
    position: absolute; /* 创建绝对定位的内容 */
    bottom: 0px;
    left: 25%;
    transform: translate(-0%, 0%); /* 反向偏移50%内容宽高 */
    width: 50%;
    height: 30px;
    z-index: 10;
    border-bottom: 1px solid rgb(218, 215, 215);
}
.nav1 {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 18px;
    color: rgb(97, 95, 95);
}
  
.nav1 > div {
    margin-right: 10px;
    cursor: pointer;
}
  
.nav1 > .active {
    color: rgb(109, 183, 252);
    border-bottom: 2px solid rgb(109, 183, 252);
}
  
.nav1::-webkit-scrollbar {
    display: none;
}
/*主页面路由部分*/
.mainbox{
    display: flex;
    position: relative;
    margin-top: 20px;
    min-height: 370px;
    width: 100%;
}
.maininfo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    height: 100%;
}
.mdview{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.694);
    border-radius: 10px 10px 10px 10px;
}
.headview{
    font-size: 15px;
    display: block;
    margin-top: 43px;
    position: absolute;
    right: -290px;
    height: 100%;
    width: 250px;
}
.md-editor{
    background-color: rgba(255, 255, 255, 0.377)!important;
    border-radius: 10px;
}
.md-editor-catalog-active > span{
    color: rgb(148, 148, 148)!important;
}
.md-editor-catalog{
    color: rgb(148, 148, 148)!important;
}
.md-editor-catalog-link > span{
    color: rgb(148, 148, 148)!important;
}
.articleandpagetitle{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.titlestylebox{
    width: 100%;
    height: auto;
}
.titlestyle{
    margin-left: 1%;
    margin-right: 1%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: #3d3d3d;
    font-size: 30px;
    font-weight: bold;
}
.views{
    background: url("../../img/views.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:8px;
}
.likes{
    background: url("../../img/likes.svg") no-repeat;
    background-size: 22px 22px;
    background-position: center center;
    height: 22px;
    width: 22px;
    display: inline-block;
    position: relative;
    top:5px;
}
.articlesummary{
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.694)!important;
    border-radius: 10px;
    min-height: 50px;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}
.aiicon{
    background: url("../../img/aisummary.svg") no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    top:5px;
    left: 5px;
}
.articleinfoicon{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
}
.likearticlebtnbox{
    height: 44px;
    width: 39px;
}
.likearticlebtn{
    background: url("../../img/likesblack.svg") no-repeat;
    background-size: 40px 35px;
    background-position: center center;
    height: 40px;
    width: 35px;
    display: inline-block;
    position: relative;
    top:5px;
    left: 20px;
    cursor: pointer;
}
.likearticlebtn:hover{
    background-size: 44px 39px;
    height: 44px;
    width: 39px;
}
.share{
    background: url("../../img/share.svg") no-repeat;
    background-size: 40px 35px;
    background-position: center center;
    height: 40px;
    width: 35px;
    display: inline-block;
    position: relative;
    top:5px;
    left: 20px;
    cursor: pointer;
}
.share:hover{
    background-size: 44px 39px;
    height: 44px;
    width: 39px;
}
.hr{
    width: 100%;
    float: left;
    border-width: 1px;
}
.callbackbox{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    position: absolute; /* 创建绝对定位的内容 */
    left: 50%; /* 从左侧偏移50%容器宽度 */
    transform: translate(-55%, 0%); /* 反向偏移50%内容宽高 */
}
.commentbox{
    display: flex;
    align-items: center;
}
.comuserprofile{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.comusername{
    font-size: 17px;
    font-weight: 600;
    color: #3d3d3d;
}
.comments{
    margin: 0px;
    padding: 10px;
    margin-top: 7px;
    width: 98%;
    height: auto;
    border: 0.1em solid #c5c5c59a;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.694);;
    resize: none;
}
.comments:focus{
    border-color: rgb(172, 215, 255);
    outline-color: transparent;
}
.comtextremain{
    font-size: 13px;
    color: #3d3d3d;
}
.sendcom{
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.commentsbox{
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.commentuser{
    display: flex;
    flex-wrap: nowrap;
    word-break: break-all;
    height: auto;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.commentuserprofile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.commentusername{
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    color: #2e2e2e;
}
.commentusercomment{
    width: auto;
    padding-left: 10px;
}
.commentusercommentfont{
    font-size: 14px;
    color: #3d3d3d;
}
.addmorearticleandcommentbox{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.commentreply{
    margin-left: 10px;
}
.commentreplybutton{
    font-weight: 600;
    font-size: 15px;
    color: #706c6cc9;
    cursor: pointer;
}
.commentreplylike{
    background: url("../../img/like-heart.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -5px;
    cursor: pointer;
}
.replaybackground{
    background-color: #cdcbcb52;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.replayinfo{
    color: #676565cb;
    display: flex;
    flex-wrap: nowrap;
    word-break: break-all;
    height: auto;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dashed-border{
    border: none;
    height: 0.08px;
    border-top: 0.5px dashed #74737365;
}
.articlesbox{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}
.articles{
    margin-left: 1%;
    margin-right: 1%;
    border: 0.5px solid #5c5b5b3b;
    background-color: rgb(255, 255, 255);;
    border-radius: 10px;
    height: 340px;
    width: 31%;
    min-width: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}
.articlespicbox{
    background-color: rgb(192, 192, 192);
    width: 100%;
    height: 170px;
    overflow: hidden; /* 隐藏超出部分 */
    border-radius: 10px 10px 0px 0px;
    position: relative;
}
.articlespic{
    object-fit: cover; /* 图片铺满容器 */
    width: 100%; /* 图片宽度填满容器 */
    height: 100%; /* 图片高度填满容器 */
    transition: transform 0.3s; /* 设置过渡效果 */
}
.articlespicbox .articlespic:hover{
    transform: scale(1.2); /* 鼠标移动上去时的放大效果 */
}
.articlestitlebox{
    width: 100%;
    height: auto;
}
.articlestitle{
    font-size: 19px;
    color: #3d3d3d;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.articlesshorts{
    font-size: 15px;
    color: #363535;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.articlesicons{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
}
.articlescategorysicon{
    background: url("../../img/category-grey.svg") no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-left: 14px;
    margin-top: 2px;
    margin-right: 3px;
}
.articlescategorys{
    color: #636060;
}
.articlesviews{
    background: url("../../img/views.svg") no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 1px;
}
.articleslikes{
    background: url("../../img/likes.svg") no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
}
.articlestimesbox{
    width: 100%;
    height: 10px;
}
.articlestimes{
    font-size: 15px;
    color: #636060;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.friendlinksbox{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 0.5px solid #5c5b5b3b;
    background-color: rgb(255, 255, 255);;
    border-radius: 10px;
    height: auto;
    width: 22.5%;
}
.friendlinksprofilebox{
    display: flex;
    justify-content: center; /* 水平居中 */
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.friendlinksprofile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.sitesnamebox{
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    text-align: center;
}
.sitesname{
    font-size: 16px;
    font-weight: bold;
    color: #3d3d3d;
}
.sitesdescriptionbox{
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.sitesdescription{
    font-size: 14px;
    color: #636060;
}
.archivesbox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.archiveslistbox{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: auto;
}
.archiveyear{
    margin-bottom: 5px;
}
.archiveyeartitle{
    font-size: 25px;
    font-weight: bold;
    color: #3d3d3d;
}
.archivesarticlebox{
    display: flex;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding-left: 5px;
}
.archivesarticlebox:hover{
    background-color: #b1afaf5b;
    border-radius: 10px;
}
.archivesarticlename{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
}
.dot{
    background: url("../../img/dot.svg") no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.archivesarticledate{
    width: auto;
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
    position: absolute;
    right: 10px;
}
.archivearticletitlewidth{
    width: 85%;
}
.archivearticledatewidth{
    width: 5%;
}
.dateico{
    background: url("../../img/date.svg") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top:5px;
}
@media (max-width: 1700px) {
    .archivearticletitlewidth{
        width: 85%;
    }
}
@media (max-width: 1650px) {
    .headerinfo{
        width: 57%;
    }
    .headerinfo:hover{
        width: 58%;
    }
    .headview{
        right: -240px;
        width: 200px;
    }
    .maininfo{
        width: 55%;
    }
    .navigation1{
        left: 24%;
        width: 52%;
    }
}
@media (max-width: 1500px) {
    .headerinfo{
        width: 60%;
    }
    .headerinfo:hover{
        width: 61%;
    }
    .headview{
        right: -200px;
        width: 160px;
    }
    .maininfo{
        width: 60%;
    }
    .navigation1{
        left: 23%;
        width: 55%;
    }
}
@media (max-width: 1450px) {
    .headerinfo{
        width: 63%;
    }
    .headerinfo:hover{
        width: 64%;
    }
    .headview{
        right: -200px;
        width: 160px;
    }
    .maininfo{
        width: 60%;
    }
    .navigation1{
        left: 22%;
        width: 58%;
    }
}
@media (max-width: 1400px) {
    .headerinfo{
        width: 66%;
    }
    .headerinfo:hover{
        width: 67%;
    }
    .headview{
        right: -170px;
        width: 130px;
    }
    .maininfo{
        width: 63%;
    }
    .navigation1{
        left: 20%;
        width: 61%;
    }
}
@media (max-width: 1300px) {
    .headerinfo{
        width: 70%;
    }
    .headerinfo:hover{
        width: 71%;
    }
    .headview{
        right: -140px;
        width: 100px;
    }
    .maininfo{
        width: 67%;
    }
    .navigation1{
        left: 18%;
        width: 65%;
    }
}
@media (max-width: 1200px) {
    .headerinfo{
        width: 79%;
    }
    .headerinfo:hover{
        width: 80%;
    }
    .headview{
        display: none;
    }
    .maininfo{
        width: 76%;
    }
    .navigation1{
        left: 13%;
        width: 74%;
    }
}
@media (max-width: 1100px) {
    .commentsbox{
        margin-left: 2%;
        margin-left: 2%;
        width: 95.5%;
    }
    .articlespicbox{
        height: 50%;
    }
    .articles{
        height: 350px;
    }
}
@media (max-width: 1000px) {
    .headerinfo{
        width: 100%;
    }
    .headerinfo:hover{
        width: 100%;
    }
    .maininfo{
        width: 100%;
    }
    .navigation1{
        left: 5%;
        right: 5%;
        width: 90%;
    }
    .sendcom{
        margin-right: 10px;
    }
    .comments{
        margin-left: 1.5%;
        width: 94%;
    }
    .commentbox{
        margin-left: 2%;
    }
    .comtextremain{
        margin-left: 2%;
    }
    .titlestyle{
        margin-left: 3%;
        margin-right: 3%;
    }
    .articlesummary{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .mdview{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .articlesbox{
        margin-left: 1.5%;
        width: 97%;
    }
}
@media (max-width: 800px) {
    .comments{
        margin-left: 2%;
        width: 92%;
    }
    .articles{
        height: 320px;
    }
    .archivearticletitlewidth{
        width: 80%;
    }
    .comtextremain{
        margin-left: 2%;
    }
    .articlespicbox{
        height: 45%;
    }
    .feed{
        right: 9%;
    }
}
@media (max-width: 650px) {
    .findmebox{
        max-height:100px;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .findme{
        margin-left: 2px;
        margin-top: 2px;
        cursor: pointer;
        transition: transform 0.3s;
    }
    .findmeiconbox{
        height:23px;
        width: 23px;
        margin-right: 4px;
    }
    .findmeicon{
        height: 20px;
        width: 20px;
    }
    .search{
        position: absolute;
        top: 10px;
    }
    .feed{
        position: absolute;
        top: 10px;
    }
    .usernameinfo{
        font-size: 30px;
    }
    .userdescriptionbox{
        margin-top: 6px;
        z-index: 2;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
    }
    .headerinfo{
        border-radius: 0px;
        height: 100%;
        transition: 0;
    }
    .headerinfo:hover{
        height: 100%;
        width: 100%;
    }
    .comments{
        margin-left: 3%;
        width: 90%;
    }
    .comtextremain{
        margin-left: 3%;
    }
    .friendlinksbox{
        width: 30.5%;
    }
    .articlesummary{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .mdview{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .feed{
        right: 11%;
    }
}
@media (max-width: 600px) {
    .friendlinksbox{
        width: 30%;
    }
    .archivearticletitlewidth{
        width: 75%;
    }
    .comments{
        width: 89%;
    }
    .commentbox{
        margin-left: 4%;
    }
    .articlesbox{
        margin-left: 2%;
        width: 96%;
    }
    .articlespicbox{
        height: 60%;
    }
    .articles{
        height: 420px;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .comments{
        margin-left: 4%;
        width: 87%;
    }
    .comtextremain{
        margin-left: 4%;
    }
    .friendlinksprofile{
        height: 100px;
        width: 100px;
    }
    .archivearticletitlewidth{
        width: 70%;
    }
    .userprofileimgstyle{
        height: 130px;
        width: 130px;
    }
    .articlespicbox{
        height: 60%;
    }
    .articles{
        height: 420px;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .friendlinksprofile{
        height: 80px;
        width: 80px;
    }
    .archivearticletitlewidth{
        width: 65%;
    }
    .userprofileimgstyle{
        height: 110px;
        width: 110px;
    }
    .comments{
        margin-left: 5%;
        width: 85%;
    }
    .comtextremain{
        margin-left: 5%;
    }
    .articlesbox{
        margin-left: 2.5%;
        width: 95%;
    }
    .articlespicbox{
        height: 50%;
    }
    .articles{
        height: 350px;
        width: 100%;
    }
    .feed{
        right: 13%;
    }
}
@media (max-width: 350px) {
    .comments{
        width: 84%;
    }
    .feed{
        right: 15%;
    }
}
@media (max-width: 300px) {
    .archivearticletitlewidth{
        width: 55%;
    }
    .friendlinksprofile{
        height: 50px;
        width: 50px;
    }
    .feed{
        right: 16%;
    }
}
@media (max-width: 260px) {
    .userprofileimgstyle{
        height: 100px;
        width: 100px;
    }
    .archivearticletitlewidth{
        width: 40%;
    }
    .comments{
        margin-left: 5%;
        width: 80%;
    }
    .feed{
        right: 17%;
    }
}